<h3 class="mt-4" *ngIf="employees.length > 0">Your Employees</h3>

<table class='table table-striped mt-3' aria-labelledby="tableLabel" *ngIf="employees.length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.department }}</td>
            <td>
                {{ employee.salary.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) }}
            </td>
        </tr>
    </tbody>
</table>

<h3 class="mt-4">Submit new employee info here</h3>

<form class="my-3" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="id">
        Id
        </label>
        <input id="id" type="text" formControlName="id">
    </div>
            
    <div>
        <label for="firstName">
        First Name
        </label>
        <input id="firstName" type="text" formControlName="firstName">
    </div>

    <div>
        <label for="lastName">
        Last Name
        </label>
        <input id="lastName" type="text" formControlName="lastName">
    </div>

    <div>
        <label for="department">
        Department
        </label>
        <input id="department" type="text" formControlName="department">
    </div>

    <div>
        <label for="salary">
        Salary
        </label>
        <input id="salary" type="number" formControlName="salary">
    </div>

    <button class="btn-info btn-lg mt-1" type="submit">Submit</button>
</form>