<div class="mt-4" *ngIf="employees.length > 0">    
    <h3>Your Employees</h3>
    <table class='table table-striped mt-3' aria-labelledby="tableLabel">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees; let i = index">
                <td>
                    <input type="checkbox" (click)="toggleSelection($event, i)" [checked]="checkboxes[i]">
                </td>
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.department }}</td>
                <td>
                    {{ employee.salary.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) }}
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn-info btn-lg mt-1" (click)="deleteRows()">Delete</button>
    <button class="btn-info btn-lg ml-3" (click)="update()">Update</button>
    <p>Note: Please select only one employee at a time when updating. If you change the Id when updating, a new employee will be submitted.</p>
</div>

<h3 class="mt-4">Submit new employee info here</h3>

<form class="my-3" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="id">Id</label>
        <input id="id" type="text" formControlName="id">
    </div>
            
    <div>
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" formControlName="firstName">
    </div>

    <div>
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" formControlName="lastName">
    </div>

    <div>
        <label for="department">Department</label>
        <input id="department" type="text" formControlName="department">
    </div>

    <div>
        <label for="salary">Salary</label>
        <input id="salary" type="number" formControlName="salary">
    </div>

    <button class="btn-info btn-lg mt-1" type="submit">Submit</button>
</form>